@using LMS.Shared.DTOs.EntityDto
<div class="container mt-4">
	<div class="card shadow-sm">
		<div class="card-body">
			<h5 class="card-title">@Activity.Name</h5>

			<p class="card-text">
				@Activity.StartDate.ToString("MMM dd HH:mm") - @Activity.EndDate.ToString("HH:mm")
			</p>
		</div>
		<a href="activities/@Activity.Id" class="stretched-link"></a>
	</div>
	<button @onclick="StartEditing">Edit</button>

</div>

@code {
	[Parameter]
	public ModuleActivityDto Activity { get; set; }

	[Parameter]
	public EventCallback<Guid> OnMessageSent { get; set; }

	private async Task StartEditing()
	{
		await OnMessageSent.InvokeAsync(Activity.Id);
	}
}
