
<hr />
<h4>Just for demo show AuthMessage component</h4>
<AuthorizeView>
    <Authorized>
        <p>In AuthMessage component <strong>you are authorized :)</strong></p>
    </Authorized>
    <NotAuthorized>
        <p>In AuthMessage component <strong>you are not authorized yet, please log in</strong></p>
    </NotAuthorized>
</AuthorizeView>
<hr />

