@using LMS.Shared.DTOs.EntityDto
<div class="container mt-4">
	<table class="table table-hover align-middle">
		<thead>
			<tr>
				<th scope="col">Document Name</th>
				<th scope="col">Uploaded</th>
			</tr>
		</thead>
		<tbody>
			@if (Documents == null || Documents.Count == 0)
			{
				<tr>
					<td colspan="2" class="text-center">No documents available.</td>
				</tr>
				
			}
			else foreach (var Doc in Documents)
			{
				<tr>
					<td>@Doc.Name</td>
					<td>@Doc.UploadDate.ToString("g")</td>
				</tr>
			}
		</tbody>
	</table>
</div>


@code {
	
	[Parameter]
	public List<DocumentDto> Documents { get; set; }

}
