@using LMS.Blazor.Client.Models
@using System.Security.Claims
@using System.Text
@using System.Text.Json

<EditForm Model="@DocumentInfo" OnValidSubmit=OnFileSubmit>
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="form-group">
		<label for="document">Document</label>
		<InputFile id="document" class="form-control" OnChange="OnFileSelected" />
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<InputTextArea id="description" class="form-control" @bind-Value="DocumentInfo.Description" />
	</div>
	<button type="submit" class="btn btn-primary">Add Document</button>

@if (uploadSuccess)
	{
		<p class="text-success">File uploaded successfully!</p>
	}

</EditForm>



@code {

	[Parameter] public Guid ParentId { get; set; }
	[Parameter] public string ParentType { get; set; }
	[Parameter] public List<SubmissionCreateDto> Submissions { get; set; } = new();
	[Parameter] public EventCallback<DocumentDto> OnUploadSuccess { get; set; }

	[CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; }
	private string? UploaderId;

	[Inject] IApiService ApiService { get; set; }

	private DocumentInfo DocumentInfo = new ();
	private bool isUploading = false;
	private bool uploadSuccess = false;


	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthStateTask;
		var user = authState.User;
		if (user.Identity?.IsAuthenticated == true)
		{
			UploaderId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
		}
	}

	private void OnFileSelected(InputFileChangeEventArgs e)
	{
		DocumentInfo.File = e.File;        
		uploadSuccess = false;
	}

	private async Task OnFileSubmit()
	{
		if (DocumentInfo.File == null || string.IsNullOrEmpty(UploaderId))
			return;

		using var content = new MultipartFormDataContent();

		var fileContent = new StreamContent(DocumentInfo.File.OpenReadStream(maxAllowedSize: 10_000_000));
		fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(DocumentInfo.File.ContentType);
		content.Add(fileContent, "File", DocumentInfo.File.Name);

		//DocumentCreateDto - utan IFormFile!
		var documentDto = new
		{
			Name = DocumentInfo.File.Name,
			Description = DocumentInfo.Description ?? string.Empty,
			UploaderId = UploaderId,
			ParentType = ParentType,
			ParentId = ParentId.ToString(),
			Submissions = Submissions,
			/*
		Submissions = new List<SubmissionCreateDto>
			{
				new SubmissionCreateDto
				{
					SubmissionDate = DateTime.UtcNow,
					ApplicationUserId = UploaderId
				}
			}
			*/
		};

		// Add Dto as JSON
		var json = JsonSerializer.Serialize(documentDto);
		content.Add(new StringContent(json, Encoding.UTF8), "documentDtoJson");


/*******************
		content.Add(new StringContent(DocumentInfo.File.Name), "Name");
		content.Add(new StringContent(DocumentInfo.Description ?? string.Empty), "Description");
		content.Add(new StringContent(ParentId.ToString()), "ParentId");
		content.Add(new StringContent(ParentType), "ParentType");
		content.Add(new StringContent(UploaderId), "UploaderId");
		content.Add(new StringContent(DocumentInfo.File.ToString()), "File");

		Console.WriteLine($"UploaderId: {UploaderId}");
		Console.WriteLine($"ParentId: {ParentId}");
		Console.WriteLine($"ParentType: {ParentType}");
		Console.WriteLine($"FileName: {DocumentInfo.File.Name}");
		Console.WriteLine($"Description: {DocumentInfo.Description}");
		Console.WriteLine($"FileContentType: {DocumentInfo.File.ContentType}");
		Console.WriteLine($"FileSize: {DocumentInfo.File.Size}");
//		Console.WriteLine($"Submissions: {Submissions}");
*********************/

		var response = await ApiService.CallApiPostMultipartAsync<DocumentDto>("documents", content);

		if(response != null)
		{
			// Handle success (e.g., show a message, clear the form, etc.)
			uploadSuccess = true;
            DocumentInfo = new(); // Reset form
            await OnUploadSuccess.InvokeAsync(response);
			
			Console.WriteLine("Document uploaded successfully.");
		}
		else
		{
			// Handle error (e.g., show an error message)
			Console.WriteLine("Error uploading document");
		}
        isUploading = false;
	}
}
