<div class="container mt-4">
	<table class="table table-hover align-middle">
		<thead>
			<tr>
				<th scope="col">Document Name</th>
				<th scope="col">Uploaded</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var Doc in Documents)
			{
				<tr>
					<td>@Doc.Name</td>
					<td>@Doc.UploadDate.ToString("g")</td>
				</tr>
			}
		</tbody>
	</table>
</div>


@code {
	
	List<FakeDocument> Documents = new List<FakeDocument>
	{
		new FakeDocument { Id = "1", Name = "Sample Document", UploadDate = DateTime.Now },
		new FakeDocument { Id = "2", Name = "Another Document", UploadDate = DateTime.Now.AddDays(-1) },
		new FakeDocument { Id = "3", Name = "Third Document", UploadDate = DateTime.Now.AddDays(-2) },
		new FakeDocument { Id = "4", Name = "Fourth Document", UploadDate = DateTime.Now.AddDays(-3) },
		new FakeDocument { Id = "5", Name = "Fifth Document", UploadDate = DateTime.Now.AddDays(-4) }
	};

	class FakeDocument
	{
		public string Id { get; set; }
		public string Name { get; set; }
		public DateTime UploadDate { get; set; }
	}
	
	FakeDocument Doc = new FakeDocument
	{
		Id = "1",
		Name = "Sample Document",
		UploadDate = DateTime.Now
	};
}
