@inherits LayoutComponentBase

<div class="page">
    <!-- Top navigation bar (med gradient) -->
    <header class="top-nav">
        <NavMenu />
    </header>

    <BreadcrumbComponent />

    <!-- Main content -->
    <main class="content px-4 py-3">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>