@inject NavigationManager NavigationManager
<nav class="nav-scrollable d-flex align-items-center">
    <div class="navbar-brand me-4">
        LMS
    </div>

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <AuthorizeView>
        <NotAuthorized>
            <div class="nav-right">
                <NavLink class="nav-link" href="Account/Login">Login</NavLink>
            </div>
        </NotAuthorized>

        <Authorized>
            <NavLink class="nav-link" href="courses">Courses</NavLink>
            <NavLink class="nav-link" href="schedule">Schedule</NavLink>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="Teacher">
        <NavLink class="nav-link" href="create">Create</NavLink>
        <NavLink class="nav-link" href="account/register">Register a new user</NavLink>        
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <div class="nav-right">
                <NavLink class="nav-link" href="Account/Manage">@context.User.Identity?.Name</NavLink>

                <form action="Account/Logout" method="post" class="d-inline">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@NavigationManager.ToBaseRelativePath" />
                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                </form>
            </div>
        </Authorized>
    </AuthorizeView>
</nav>