@page "/courses"
@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs.EntityDto
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveWebAssembly
@attribute [Authorize(Roles = "Teacher")]

<h3>CourseList</h3>


        @if (Loading)
        {
            <p>Loading courses...</p>
        }
        else
        {
            @if (Courses != null)
            {
                @foreach (var course in Courses)
                {
                    <CourseComponent Course=course />
                }
            }
            else
            {
                <p>Loading courses...</p>
            }

        }
<CourseAddComponent />

@code 
{
    public bool Loading { get; set; } = true;

    [Inject]
    private IApiService myApi { get; set; } = default!;

    [Inject]
    private AuthenticationStateProvider Auth { get; set; } = default!;

    private IEnumerable<CourseDto>? Courses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Loading = true;
        // var state = await Auth.GetAuthenticationStateAsync();

        // if (!(state.User.Identity?.IsAuthenticated) ?? false)
        // {
        //     return;
        // }
        await LoadCourse();
        Loading = false;
    }

    private async Task LoadCourse()
    {
        try
        {

            var response = await myApi.CallApiGetAsync<IEnumerable<CourseDto>>("courses");
            Courses = response?.ToList();


        }
        catch (Exception ex)
        {

        }
    }


}
