@page "/courses/{Id}"
@using LMS.Blazor.Client.Services
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveWebAssembly
@inject IApiService myApi

@attribute [Authorize]

<div class="container-fluid">
    <div class="row">
        
        <div class="col-12 col-lg-3 border-start bg-light">
            <div class="p-3 sticky-top">
				<ModuleComponent />
                <ModuleComponent />
				<ModuleComponent />
				<ModuleComponent />
            </div>
        </div>
        <!-- Main content area -->
        <div class="col-12 col-lg-6">
            <h3>Kurs @Id</h3> @* Later bind this to Course.Name *@
            <p>Main course details go here...</p>
            <div class="row">
                <div class="col-12 col-lg-9">
					<h4>Dokument</h4> @* This line should probably be in the doc component *@
                    <DocumentComponent />
    
                </div>
            </div>
        </div>

        <!-- Sidebar area -->
        <div class="col-12 col-lg-3 border-start bg-light">
            <div class="p-3 sticky-top">
                <MemberComponent />
                <MemberComponent />
                <MemberComponent />
                <MemberComponent />
                <MemberComponent />
                <MemberComponent />
            </div>
        </div>
    </div>
    
</div>

@code {
    [SupplyParameterFromQuery]
    [Parameter] public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }

}
