@page "/courses"
@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs.EntityDto
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveWebAssembly
@attribute [Authorize(Roles = "Teacher")]

<h3>CourseList</h3>


@if (Loading)
{
	<p>Loading courses...</p>
}
else
{
	<CourseAddComponent/>
	@if (Courses != null)
	{
		@foreach (var course in Courses)
		{
			<CourseComponent Course=course />
		}
		
	}
	else
	{
		<p>Loading courses...</p>
	}

}

@code
{
	public bool Loading { get; set; } = true;

	private bool isAdding = false;

	[Inject]
	private IApiService myApi { get; set; } = default!;

	[Inject]
	private AuthenticationStateProvider Auth { get; set; } = default!;

	private IEnumerable<CourseDto>? Courses { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await LoadCourse();
		Loading = false;
	}

	private async Task LoadCourse()
	{

		var response = await myApi.CallApiGetAsync<IEnumerable<CourseDto>>("courses");
		Courses = response?.ToList();

	}

	private void ToggleAddCourse()
	{
		isAdding = !isAdding;
	}


}
