@page "/courses"
@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs.EntityDto
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveWebAssembly


<h3>CourseList</h3>


@attribute [Authorize]

<AuthorizeView Roles="Teacher">
    <Authorized>
        <p>LIST ALL COURSES HERE PLS SENPAI</p>
		<CourseComponent />
        <CourseComponent />
        <CourseComponent />
        <CourseComponent />
    </Authorized>
</AuthorizeView>
@code 
{
    [Inject]
    private IApiService myApi { get; set; } = default!;
    private IEnumerable<CourseDto> Courses { get; set; }

    protected override async Task OnInitializedAsync()
    {
    //    Loading = true;
        Courses = (await myApi.CallApiAsync<IEnumerable<CourseDto>>()).ToList();
    //    Loading = false;

    }

}
