@page "/modules"
@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs.EntityDto
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveWebAssembly
@attribute [Authorize]
<h3>ModuleList</h3>
@if (Loading)
{
    <p>Loading modules...</p>
}
else
{
    @if (Modules != null)
    {
        @foreach (var module in Modules)
        {
            <ModuleComponent Module=module />
        }
    }
    else
    {
        <p>Loading modules...</p>
    }

}
@* 
<p>LIST ALL MODULES HERE PLS SENPAI</p>
<ModuleComponent />
<ModuleComponent />
<ModuleComponent 
 *@
@code {
    public bool Loading { get; set; } = true;

    [Inject]
    private IApiService myApi { get; set; } = default!;

    [Inject]
    private AuthenticationStateProvider Auth { get; set; } = default!;

    private IEnumerable<ModuleDto>? Modules { get; set; }

    protected override async Task OnInitializedAsync()
    {

        var state = await Auth.GetAuthenticationStateAsync();

        if (!(state.User.Identity?.IsAuthenticated) ?? false)
        {
            return;
        }
        await LoadModule();

    }

    private async Task LoadModule()
    {
        try
        {
            Loading = true;

            var response = await myApi.CallApiAsync<IEnumerable<ModuleDto>>("modules");
            Modules = response?.ToList();

            Loading = false;

        }
        catch (Exception ex)
        {
            Loading = false;

        }
    }

}
