@page "/schedule"
@using Radzen
@using Radzen.Blazor
@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs.EntityDTO
@using LMS.Shared.DTOs.EntityDto
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveWebAssembly

<h3>CourseList</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
	<div class="alert alert-danger" role="alert">
		<p>@errorMessage</p>
	</div>
}

@if (Events != null && Events.Count > 0)
{
	<RadzenScheduler Data="@Events"
					 StartProperty="Start"
					 EndProperty="End"
					 TextProperty="Text">
		<RadzenMonthView />
		<RadzenWeekView />
		<RadzenDayView />


	</RadzenScheduler>

}

@code
{
	[Inject]
	private IApiService myApi { get; set; } = default!;

	private class ScheduleEvent
	{
		public DateTime Start { get; set; }
		public DateTime End { get; set; }
		public string Text { get; set; }
	}
	private List<AppointmentData> Events = new();

	private List<CourseDto>? Courses { get; set; }
	private string? errorMessage;
	private ScheduleDto MySchedule { get; set; }
	private string CourseId = null;

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		var isTeacher = user.IsInRole("Teacher");
		var isStudent = user.IsInRole("Student");
		if (isTeacher)
		{
			await LoadCourse();
		}
		else if (isStudent)
		{
			CourseId = user.FindFirst("CourseId")?.Value ?? null;
		}
		else
		{
			await InvokeAsync(() => Navigation.NavigateTo("/account/login"));
		}
		MySchedule = await myApi.CallApiGetAsync<ScheduleDto>($"schedules/{CourseId}");
		if (MySchedule == null) return;

		FlattenScheduleDto(MySchedule);
	}
	private void FlattenScheduleDto(ScheduleDto schedule)
	{
		Events.Add(new AppointmentData
		{
			Start = schedule.Course.StartDate,
			End = schedule.Course.StartDate.AddHours(1),
			Text = $"Course start: {schedule.Course.Name}"
		});
		if (schedule.Modules != null && schedule.Modules.Count > 0)
			foreach (var module in schedule.Modules)
			{
				Events.Add(new AppointmentData
				{
					Start = module.StartDate,
					End = module.StartDate.AddHours(1),
					Text = $"Module: {module.Name}"
				});
			}
		if (schedule.ModuleActivities != null && schedule.ModuleActivities.Count > 0)
			foreach (var act in schedule.ModuleActivities)
			{
				Events.Add(new AppointmentData
				{
					Start = act.StartDate,
					End = act.EndDate,
					Text = $"Activity: {act.Name}"
				});
			}
		foreach (var e in Events)
			Console.WriteLine($"Event: {e.Text}, {e.Start} - {e.End}");
	}

	private async Task LoadCourse()
	{
		try
		{
			var response = await myApi.CallApiGetAsync<IEnumerable<CourseDto>>("courses");
			Console.WriteLine($"Found {response?.Count()} courses.");
			Courses = response?.ToList();
			CourseId = response?.ToList()[0].Id.ToString();
		}
		catch (HttpRequestException apiEx)
		{
			errorMessage = $"API Error: {apiEx.StatusCode} - {apiEx.Message}";
			Console.WriteLine("there was an API error: " + apiEx.Message);
		}


	}
}